@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap");

* {
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {
    --main-color: #c41e68;
    --dark-color: #a71555;
    --step-color: #ced7e0;
    --step-size: 32px;
    --steps: 4;
    --progress-width: calc((var(--steps) - 1) / var(--steps) * 100%);
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: lavender;
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 16px;
}

/* form style */
.form-wizard {
    background-color: #fff;
    padding: 32px;
    border-radius: 8px;
    width: min(500px, 80%);
    box-shadow: 0 4px 16px rgba(167, 21, 84, 0.1);
}

.progress-container {
    position: relative;
}

.progress-container::before {
    content: '';
    height: 4px;
    width: var(--progress-width);
    background-color: var(--step-color);
    position: absolute;
    top: calc(var(--step-size) / 2);
    left: 50%;
    translate: -50% -50%;
}

.progress-container .progress {
    height: 4px;
    width: var(--progress-width);
    background-color: var(--main-color);
    position: absolute;
    top: calc(var(--step-size) / 2);
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}

.progress-container ol {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    counter-reset: step-number;
    position: relative;
    z-index: 3;
}

.progress-container li {
    /* border: 1px solid #000; */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--step-color);
    transition: 0.3s linear 0.3s;
}

.progress-container li::before {
    counter-increment: step-number;
    content: counter(step-number);
    background-color: var(--step-color);
    width: var(--step-size);
    height: var(--step-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    transition: 0.3s linear 0.3s;
}

.progress-container li:where(.done, .current) {
    color: cadetblue;
    font-weight: 700;
}

.progress-container li.done::before {
    background-color: var(--main-color);
}

.progress-container li.current::before {
    background-color: var(--main-color);
    box-shadow: 0 0 0 3px rgba(167, 21, 84, 0.25);
}


